//Base font variables
// $base-font-family: "Roboto Condensed", sans-serif;
$base-font-family: "Quicksand", Serif;
// $base-font-family: "Dosis", sans-serif;
// $base-font-family: "Hind", Serif;

// Headlines and primary texts
$base-text-color: #222;

// Secondary texts - dates and other messages
$extra-text-color: #636363;

// Links
$base-links-color: #2e5d8bd2;

// Buttons
$buttons-bg-color: #c8c8d2;
$buttons-text-color: #ffffff;
$buttons-icon-color: #c86464;

// Header + side menu bg
$header-bg-color: #222;
$header-text-color: #c8c8c8;

//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-purple-dark: #1d1627;
$color-purple: #362947;
$color-purple-light: #69597e;
$color-grey: #7b7878;
$color-grey-post-title: #303030;
$color-grey-post-date: #636363;
$color-light-grey: #f2f2f2;
$color-pink: #e9314d;

//Base font-size
$base-font-size: 14px;

// Other variables
$multiplying-factor: 1.1;

//Base padding and margin
$base-spacing-xxs: 2px;
$base-spacing-xs: 5px;
$base-spacing-sm: 8px;
$base-spacing-xsm: 10px;
$base-spacing: 16px;
$base-spacing-xmd: 20px;
$base-spacing-md: 24px;
$base-spacing-lg: 32px;
$base-spacing-xl: 64px;
$base-spacing-xxl: 72px;
$base-spacing-xxxl: 80px;

// Breakpoints
