@import "../../utilities/variables";

.ui.sidebar.menu.left {
  background: $header-bg-color;
  color: $header-text-color;
}
.icon.side-menu {
  position: absolute;
  z-index: 1;
  left: 4%;
  top: 5.5%;
  background: none;
}
