@import "../../../../utilities/base";

.ui.container.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1.ui.dividing.header {
    padding: $base-spacing-xsm;
    width: 100%;
  }
  .ui.medium.image {
    width: 400px;
  }
  .ui.card {
    width: 100%;
    padding: $base-spacing 0;
    .content {
      .header {
        margin: 0;
      }
    }
    .extra-content {
      .ui.label {
        margin: $base-spacing-xxs;
      }
    }
  }
}
