@import "../../utilities/variables";

.header.za-black-header {
  background-color: $header-bg-color;
  height: 15vh;
  padding: 0 $base-spacing-xsm;
  color: $header-text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 80px;
    position: absolute;
    top: $base-spacing-xs;
    right: 40%;
  }
  .icons {
    min-width: 8%;
    display: flex;
    justify-content: space-between;
    i {
      height: 0;
      font-size: 2.5em;
    }
  }
}
