@import "../../../../utilities/base";

.ui.inverted.segment {
  color: $header-text-color !important;
  background: $header-bg-color;
  margin: $base-spacing 0;
  .ui.list {
    .item {
      display: flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .content,
      .header {
        color: $header-text-color !important;
      }
      .task-details {
        display: flex;
        align-items: center;
        width: 100%;
        color: $header-text-color !important;
        .content {
          margin: 0 $base-spacing-xmd;
        }
      }
    }
  }
}
