@import "../../../../utilities/base";

.devices-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: $base-spacing-xmd;
  }
  table.ui.celled.table {
    margin: $base-spacing-xmd 0;
  }
}
