@import url("https://fonts.googleapis.com/css?family=Dosis|Quicksand|Roboto+Condensed:300");
.center-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  box-align: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  box-pack: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.vertical-align {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  box-align: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.justify-flex-start {
  justify-content: flex-start; }

.w-100 {
  width: 100%; }

.w-85 {
  width: 85%; }

.w-80 {
  width: 80%; }

.h-100 {
  height: 100%; }

.h-20 {
  height: 20%; }

.h-a {
  height: auto; }

.h-80vh {
  height: 80vh; }

.h-20vh {
  height: 20vh; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.b-0 {
  bottom: 0; }

.bg-center-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.text-center {
  text-align: center; }

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-caps {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.display-none {
  display: none !important; }

.of-auto {
  overflow: auto; }

.m-0-a {
  margin: 0 auto; }

p,
div {
  font-size: 14px;
  font-weight: normal;
  font-family: "Quicksand", Serif !important;
  color: #222 !important; }

h1,
.h1 {
  font-size: 20.4974px;
  font-weight: normal;
  font-family: "Quicksand", Serif !important;
  color: #222; }

h2,
.h2 {
  font-size: 18.634px;
  font-weight: normal;
  font-family: "Quicksand", Serif !important;
  color: #222; }

h3,
.h3 {
  font-size: 16.94px;
  font-weight: normal;
  font-family: "Quicksand", Serif !important;
  color: #222; }

h4,
.h4 {
  font-size: 15.4px;
  font-weight: normal;
  font-family: "Quicksand", Serif !important;
  color: #222; }

h5,
.h5 {
  font-size: 14px;
  font-weight: normal;
  font-family: "Quicksand", Serif !important;
  color: #222; }

h6,
.h6 {
  font-size: 12.72727px;
  font-weight: normal;
  font-family: "Quicksand", Serif !important;
  color: #222 !important; }

button.ui.button {
  background: #222 !important;
  color: #f2f2f2 !important;
  font-family: "Quicksand", Serif !important; }

i.icon {
  color: #c86464 !important; }

a {
  color: #2e5d8bd2; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.ui.container.teams {
  display: flex;
  flex-direction: column; }
  .ui.container.teams h1 {
    margin: 20px 0; }
  .ui.container.teams .members {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .ui.container.teams .members .ui.card .ui.segment.inverted {
      background: #222;
      display: flex;
      justify-content: flex-start;
      color: #ffff !important; }
      .ui.container.teams .members .ui.card .ui.segment.inverted .ui.divided.inverted.list {
        width: 100%;
        text-align: start; }
        .ui.container.teams .members .ui.card .ui.segment.inverted .ui.divided.inverted.list strong,
        .ui.container.teams .members .ui.card .ui.segment.inverted .ui.divided.inverted.list .header {
          color: #ffffff !important; }
        .ui.container.teams .members .ui.card .ui.segment.inverted .ui.divided.inverted.list div {
          color: #c8c8c8 !important;
          margin-top: 2px; }
        .ui.container.teams .members .ui.card .ui.segment.inverted .ui.divided.inverted.list .item {
          display: flex;
          align-items: center; }
          .ui.container.teams .members .ui.card .ui.segment.inverted .ui.divided.inverted.list .item .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start; }
            .ui.container.teams .members .ui.card .ui.segment.inverted .ui.divided.inverted.list .item .content span,
            .ui.container.teams .members .ui.card .ui.segment.inverted .ui.divided.inverted.list .item .content div.text {
              color: #222222 !important; }
  .ui.container.teams .ui.form .equal.width.fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .ui.container.teams .ui.form .equal.width.fields > div {
      padding: 5px; }
    .ui.container.teams .ui.form .equal.width.fields .field {
      width: unset; }
