@import "../../../../utilities/base";

.ui.container.teams {
  display: flex;
  flex-direction: column;
  h1 {
    margin: $base-spacing-xmd 0;
  }
  .members {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ui.card {
      .ui.segment.inverted {
        background: $header-bg-color;
        display: flex;
        justify-content: flex-start;
        color: #ffff !important;
        .ui.divided.inverted.list {
          width: 100%;
          text-align: start;
          strong,
          .header {
            color: $color-white !important;
          }
          div {
            color: $header-text-color !important;
            margin-top: $base-spacing-xxs;
          }
          .item {
            display: flex;
            align-items: center;
            .content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              text-align: start;
              span,
              div.text {
                color: #222222 !important;
              }
            }
          }
        }
      }
    }
  }
  .ui.form {
    .equal.width.fields {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      > div {
        padding: $base-spacing-xs;
      }
      .field {
        width: unset;
      }
    }
  }
}
