.projects {
  display: flex;
  flex-direction: column;
  .ui.container {
    &.projects-list {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      i.icon.trash {
        position: absolute;
        top: 10;
        right: 0;
        font-size: 1.6rem;
        color: #ad1111;
      }
    }
    &.create-project {
    }
  }
}
