@import "../../../../utilities/base";

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: $base-spacing-xmd;
  }
  a {
    width: 12%;
    .button {
      margin: $base-spacing-xsm 0;
    }
  }
  .ui.container {
    &.projects-list {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-evenly;
      .ui.card {
        .header {
          display: flex;
          justify-content: center;
          margin: $base-spacing-xsm 0;
          i.icon.trash {
            position: absolute;
            top: $base-spacing;
            right: 5px;
          }
        }
        .extra.content,
        .content {
          padding: $base-spacing-xsm 0;
        }
        .description {
          padding: $base-spacing-xsm;
        }
      }
    }
    &.create-project {
    }
  }
}
